.changePasswordModalTitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
}
.changePasswordModalInput {
  margin-bottom: 18px;
}
.changePasswordModalFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.changePasswordModalBtnReset {
  background: #e5735b;
  color: #fff;
  border: none;
}
.changePasswordModalBtnSubmit {
  background: #2d3561;
  color: #fff;
  border: none;
}
